.tableScroll {
    overflow-y: scroll;
    height: 400px;
    -ms-overflow-style: none;
}

.tableScroll::-webkit-scrollbar {
    display: none;
}

.tableScroll2 {
    overflow-y: scroll;
    height: 350px;
    -ms-overflow-style: none;
}

.tableScroll2::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
}

th {
    position: -webkit-sticky;
    position: sticky;
    top:0px;
    /* z-index: 3; */
}