.tableScroll{
  -ms-overflow-style: none;
  overflow-y: scroll;
  height: 500px;
}

.tableScroll::-webkit-scrollbar{
  display: none;
}

.tableScroll2{
  -ms-overflow-style: none;
  overflow-y: scroll;
  height: 400px;
}
.tableScroll2::-webkit-scrollbar{
  display: none;
}
